body {
	text-align: center;
}
h1,label {

}
.pane {
	border: 2px solid black;
	border-radius: 4px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}
/*.forecast {
	font-size: 20px;
	font-weight: bold;
}*/
.forecast {
	display: inline-block;
	border: 2px solid gray;
	border-radius: 4px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}