body {
	text-align: center;
}
.pane {
	border: 2px solid gray;
	border-radius: 6px;
	/* width: 60vw; */
	margin: 10px;
	padding: 5px;
	text-align: center;
}
.forecast {
	display: inline-block;
	border: 2px solid gray;
	border-radius: 6px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}